<div class="card team-card hover" style="width: 18rem">
  <div class="d-flex align-items-center">
    <img class="nft" src="../../assets/logo/placeholder.png" alt="nft" />

    <div class="title">
      <p class="name">Silviu Barbu</p>
      <h6 class="card-subtitle mb-2 text-muted">Founder</h6>
    </div>

    <div class="socials">
      <img
        class="item"
        src="../../assets/icons/social-Discord.svg"
        alt="discord"
      />
      <img class="item" src="../../assets/icons/social-insta.svg" alt="insta" />
      <img
        class="item"
        src="../../assets/icons/social-Twitter.svg"
        alt="twitter"
      />
    </div>
  </div>
</div>
