.card {
    @include title-font(48px,200px,500);
    background-color: black;
    height: 464px;
    width: 328px !important;
    &-text {
        color: white;
    }

    &-img-top {
        height: 296px;
        width: 296px;
        margin: 16px;
    }

    .item {
        width: 40px;
        height: 40px;
    }
}

