<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    src="../../assets/logo/placeholder.png"
    alt="Card image cap"
  />
  <div class="card-body">
    <p class="card-text">Madonna</p>

    <img
      class="item"
      src="../../assets/icons/social-Discord.svg"
      alt="discord"
    />
    <img class="item" src="../../assets/icons/social-insta.svg" alt="insta" />
    <img
      class="item"
      src="../../assets/icons/social-Twitter.svg"
      alt="twitter"
    />
  </div>
</div>
